

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
 
  <ion-item style="margin-top: 80px;" lines="none">
    <ion-label>
      <ion-img class="image" src="../../../assets/icon/logo.png"> </ion-img>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-title class="title"> <b>Registre sua evolução</b></ion-title>
  </ion-item>
  <ion-item lines="none">
    <ion-text class="home-text"> Registre sua rotina diária de exercícios e permita-se evoluir!</ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-grid>
      <ion-row>
          <ion-col size="6" offset="3">
            <ion-button size="large" (click) = "goToWorkoutsPage()" class="home-button">
      
              <ion-text color="secondary"><b>VER TREINOS</b></ion-text>
            </ion-button>
          </ion-col>
     </ion-row>
  </ion-grid>
  
  
  </ion-item>
  
</ion-content>
